@use '@angular/material' as mat;

@include mat.core();

$custom-primary-palette: (
    50: #f9f0e0,
    100: #f1d9b2,
    200: #e8c181,
    300: #e0a951,
    400: #db9831,
    500: #d68814,
    600: #d37e11,
    700: #cd700c,
    800: #c66107,
    900: #bd4a00,
    contrast: (
        50: #0000,
        100: #0000,
        200: #0000,
        300: #ffff,
        400: #ffff,
        500: #ffff,
        600: #ffff,
        700: #ffff,
        800: #ffff,
        900: #ffff,
    )
);

$custom-accent-palette: (
    50: #e5f2fd,
    100: #c1defb,
    200: #9ccaf8,
    300: #7ab5f4,
    400: #64a5f2,
    500: #5696ee,
    600: #5188e0,
    700: #4a76cc,
    800: #4565ba,
    900: #3a4799,
    contrast: (
        50: #0000,
        100: #0000,
        200: #0000,
        300: #ffff,
        400: #ffff,
        500: #ffff,
        600: #ffff,
        700: #ffff,
        800: #ffff,
        900: #ffff,
    )
);

$custom-warn-palette: (
    50: #fdeced,
    100: #f9cfd1,
    200: #e69f9a,
    300: #d87b73,
    400: #e06251,
    500: #e35739,
    600: #d44e38,
    700: #c34532,
    800: #b63f2c,
    900: #a73621,
    contrast: (
        50: #0000,
        100: #0000,
        200: #0000,
        300: #ffff,
        400: #ffff,
        500: #ffff,
        600: #ffff,
        700: #ffff,
        800: #ffff,
        900: #ffff,
    )
);


$custom-secondary-palette: (
    50: #0000,
    100: #0000,
    200: #0000,
    300: #0000,
    400: #0000,
    500: #0000,
    600: #0000,
    700: #0000,
    800: #0000,
    900: #0000,
    contrast: (
        50: #0000,
        100: #0000,
        200: #0000,
        300: #ffff,
        400: #ffff,
        500: #ffff,
        600: #ffff,
        700: #ffff,
        800: #ffff,
        900: #ffff,
    )
);
$custom-primary: mat.m2-define-palette($custom-primary-palette);
$custom-accent: mat.m2-define-palette($custom-accent-palette);
// $custom-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$custom-warn: mat.m2-define-palette($custom-warn-palette);
//$custom-warn: mat.define-palette(mat.$red-palette);
$custom-secondary: mat.m2-define-palette($custom-secondary-palette);


$custom-typography: mat.m2-define-typography-config(
    $font-family: 'Montserrat',
);

$custom-theme: mat.m2-define-light-theme((
    color: (
        primary: $custom-primary,
        accent: $custom-accent,
        warn: $custom-warn,
        secondary: $custom-secondary,
    ),
    typography: $custom-typography,
));

$custom-background-color: #628cc9;

$background: map-get($custom-theme, background);
$background: map_merge($background, (background: $custom-background-color));
$custom-theme: map_merge($custom-theme, (background: $background));


@include mat.all-component-themes($custom-theme);
