<div class="filters">
  <div class="filter-group">
    <label for="project">Project Name</label>
    <select id="project" [(ngModel)]="selectedProjectId" (change)="filterEmployees()">
      <option *ngFor="let project of projectsData" [value]="project.id">{{ project.name }}</option>
    </select>
  </div>
  <div class="filter-group">
    <label for="month">Select Month</label>
    <input type="month" id="month" [(ngModel)]="selectedMonth" (ngModelChange)="onMonthChange()" />
  </div>
</div>

<h4>{{ formattedSelectedMonth }}</h4>
<table class="timesheet-table" *ngIf="employees.length > 0; else noData">
  <thead>
    <tr>
      <th>Employees</th>
      <th *ngFor="let day of days">{{ day }}</th>
      <th>Total</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let employee of employees; let empIndex = index">
      <td>{{ employee.name }}</td>
      <td *ngFor="let hour of employee.hours; let hourIndex = index">
        <ng-container *ngIf="isEditing; else viewMode">
          <input
            type="number"
            [ngModel]="employees[empIndex].hours[hourIndex]"
            (ngModelChange)="updateHours(empIndex, hourIndex, $event)"
            min="0"
            max="24"
            class="hour-input"
          />
        </ng-container>
        <ng-template #viewMode>
          {{ hour }}
        </ng-template>
      </td>
      <td>{{ getTotalHours(employee.hours) }}</td>
    </tr>
  </tbody>
</table>

<ng-template #noData>
  <p>No employees available for this project.</p>
</ng-template>
