.container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.header {
  text-align: center;
  padding: 15px;
  color: black;
  border-radius: 8px 8px 0 0;
  font-weight: bold;
}

h4{
  padding-left: 20px;
  font-weight: bold;
}

.filters {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}
.filter-group {
  display: flex;
  flex-direction: column; /* Stack label and select/input vertically */
  margin-right: 20px; /* Space between groups */
}

.filter-group select {
  margin-left: 20px; /* Use margin-left to move the select box to the right */
}

label[for=project]
{
  color: gray;
  padding-left: 20px;
}

select[for=project]
{
  padding-left: 20px;
}

.filters label {
  margin-right: 10px;
}

.timesheet-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  table-layout: fixed; /* This fixes table going out of border */
}

.timesheet-table th{
  border: 1px solid white;
  padding: 10px;
  text-align: center;
}
.timesheet-table td {
  border: 1px solid #000;
  padding: 10px;
  text-align: center;
}

thead {
  background-color: #000;
  color: #fff;
}

.actions {
  text-align: center;
  margin: 20px 0;
}

.actions button {
  margin: 0 10px;
  padding: 10px 20px;
  background-color: #ffa500;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.actions button:hover {
  background-color: #ffcc00;
}

#body{
  border-style: solid;
  padding-top: 5px;
  overflow-x: auto; /* Ensures content doesn't overflow horizontally */
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.hour-input {
  width: 100%;
  text-align: center;
  box-sizing: border-box; /* Prevents input from exceeding container */
}

.signature {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.signature input {
  margin-left: 10px;
  padding: 5px;
}
